.box {
  display: flex;
  height: 3.70rem;
  border: 1px solid red;

  .logo {
    color: white;
    padding: 20px;
  }

  .range {
    width: 100%;
    display: flex;
    color: white;
    justify-content: flex-end;
    border: 1px solid yellow;
  }
  a {
    padding: 10px 15px;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    letter-spacing: 0.2px;
    border-radius: 4px;
    position: relative;
    //color: $textColor;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      //background-color: $primaryColor;
      transition: 0.3s;
    }
  }
}